.palcop5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto max-content max-content;
  gap: 1rem 1rem;
  grid-auto-flow: column;
  justify-content: center;
  align-content: start;
  justify-items: stretch;
  align-items: start;
  grid-template-areas:
    "canvas    canvas canvas"
    "formation toggle singers"
    ".         .      reset";
  position: relative;
}

.palcop5 > canvas {
  grid-area: canvas;
}

.palcop5 > .formation {
  grid-area: formation;
}

.palcop5 > .toggle {
  grid-area: toggle;
}

.palcop5 > .singers {
  grid-area: singers;
}

.palcop5 > .reset {
  grid-area: reset;
}

.palcop5 > .formation,
.palcop5 > .toggle,
.palcop5 > .reset,
.palcop5 > .singers {
  display: grid;
  gap: 0.25rem 0;
}

.palcop5 > .singers > button {
  font-weight: bold;
}

.palcop5 > .formation > button,
.palcop5 > .toggle > button,
.palcop5 > .reset > button,
.palcop5 > .singers > button {
  cursor: pointer;
}
