{% load static i18n %}
{% get_current_language as lang_code %}
<div class="palcop5{% if ui %} ui{% endif %}" id="{{ id }}" ></div>
<script type="module">
  Palco({
    n_singers: {{ n_singers }},
    formation: '{{ formation }}',
    debug: {% if debug %}true{% else %}false{% endif %},
    id: '{{ id }}',
    lazy: {% if lazy %}true{% else %}false{% endif %},
    ui: {% if ui %}true{% else %}false{% endif %},
    repeat: {% if repeat %}true{% else %}false{% endif %},
    language: "{{ lang_code }}",
  })
</script>
