This file is used to inspect the chosen utf symbols. You can compare how
different browsers render them, for example.
<br>

9632: &#9632<br>
9633: &#9633<br>
9634: &#9634<br>
9635: &#9635<br>
9636: &#9636<br>
9637: &#9637<br>
9638: &#9638<br>
9639: &#9639<br>
9640: &#9640<br>
9641: &#9641<br>
9642: &#9642<br>
9643: &#9643<br>
9644: &#9644<br>
9645: &#9645<br>
9646: &#9646<br>
9647: &#9647<br>
9648: &#9648<br>
9649: &#9649<br>
9650: &#9650<br>
9651: &#9651<br>
9652: &#9652<br>
9653: &#9653<br>
9654: &#9654<br>
9655: &#9655<br>
9656: &#9656<br>
9657: &#9657<br>
9658: &#9658<br>
9659: &#9659<br>
9660: &#9660<br>
9661: &#9661<br>
9662: &#9662<br>
9663: &#9663<br>
9664: &#9664<br>
9665: &#9665<br>
9666: &#9666<br>
9667: &#9667<br>
9668: &#9668<br>
9669: &#9669<br>
9670: &#9670<br>
9671: &#9671<br>
9672: &#9672<br>
9673: &#9673<br>
9674: &#9674<br>
9675: &#9675<br>
9676: &#9676<br>
9677: &#9677<br>
9678: &#9678<br>
9679: &#9679<br>
9680: &#9680<br>
9681: &#9681<br>
9682: &#9682<br>
9683: &#9683<br>
9684: &#9684<br>
9685: &#9685<br>
9686: &#9686<br>
9687: &#9687<br>
9688: &#9688<br>
9689: &#9689<br>
9690: &#9690<br>
9698: &#9698<br>
9699: &#9699<br>
9700: &#9700<br>
9701: &#9701<br>
9702: &#9702<br>
9703: &#9703<br>
9704: &#9704<br>
9705: &#9705<br>
9706: &#9706<br>
9707: &#9707<br>
9708: &#9708<br>
9709: &#9709<br>
9710: &#9710<br>
9711: &#9711<br>
9712: &#9712<br>
9713: &#9713<br>
9714: &#9714<br>
9715: &#9715<br>
9716: &#9716<br>
9717: &#9717<br>
9718: &#9718<br>
9719: &#9719<br>
9720: &#9720<br>
9721: &#9721<br>
9722: &#9722<br>
9723: &#9723<br>
9724: &#9724<br>
9725: &#9725<br>
9726: &#9726<br>
9727: &#9727<br>
9776: &#9776<br>
9777: &#9777<br>
9778: &#9778<br>
9779: &#9779<br>
9780: &#9780<br>
9781: &#9781<br>
9782: &#9782<br>
9783: &#9783<br>
9898: &#9898<br>
9899: &#9899<br>
9900: &#9900<br>
1000: 9&#10009<br>
1001: 0&#10010<br>
1001: 1&#10011<br>
1001: 2&#10012<br>
1001: 8&#10018<br>
1001: 9&#10019<br>
1002: 0&#10020<br>
1002: 1&#10021<br>
1002: 2&#10022<br>
1002: 3&#10023<br>
1004: 1&#10041<br>
1004: 2&#10042<br>
1004: 3&#10043<br>
1004: 4&#10044<br>
1004: 5&#10045<br>
1006: 3&#10063<br>
1006: 4&#10064<br>
1006: 5&#10065<br>
1006: 6&#10066<br>
9600: &#9600<br>
9601: &#9601<br>
9602: &#9602<br>
9603: &#9603<br>
9604: &#9604<br>
9605: &#9605<br>
9606: &#9606<br>
9607: &#9607<br>
9608: &#9608<br>
9609: &#9609<br>
9610: &#9610<br>
9611: &#9611<br>
9612: &#9612<br>
9613: &#9613<br>
9614: &#9614<br>
9615: &#9615<br>
9616: &#9616<br>
9617: &#9617<br>
9618: &#9618<br>
9619: &#9619<br>
9620: &#9620<br>
9621: &#9621<br>
9622: &#9622<br>
9623: &#9623<br>
9624: &#9624<br>
9625: &#9625<br>
9626: &#9626<br>
9627: &#9627<br>
9628: &#9628<br>
9629: &#9629<br>
9630: &#9630<br>
9631: &#9631<br>
9472: &#9472<br>
9473: &#9473<br>
9474: &#9474<br>
9475: &#9475<br>
9476: &#9476<br>
9477: &#9477<br>
9478: &#9478<br>
9479: &#9479<br>
9480: &#9480<br>
9481: &#9481<br>
9482: &#9482<br>
9483: &#9483<br>
9484: &#9484<br>
9485: &#9485<br>
9486: &#9486<br>
9487: &#9487<br>
9488: &#9488<br>
9489: &#9489<br>
9490: &#9490<br>
9491: &#9491<br>
9492: &#9492<br>
9493: &#9493<br>
9494: &#9494<br>
9495: &#9495<br>
9496: &#9496<br>
9497: &#9497<br>
9498: &#9498<br>
9499: &#9499<br>
9500: &#9500<br>
9501: &#9501<br>
9502: &#9502<br>
9503: &#9503<br>
9504: &#9504<br>
9505: &#9505<br>
9506: &#9506<br>
9507: &#9507<br>
9508: &#9508<br>
9509: &#9509<br>
9510: &#9510<br>
9511: &#9511<br>
9512: &#9512<br>
9513: &#9513<br>
9514: &#9514<br>
9515: &#9515<br>
9516: &#9516<br>
9517: &#9517<br>
9518: &#9518<br>
9519: &#9519<br>
9520: &#9520<br>
9521: &#9521<br>
9522: &#9522<br>
9523: &#9523<br>
9524: &#9524<br>
9525: &#9525<br>
9526: &#9526<br>
9527: &#9527<br>
9528: &#9528<br>
9529: &#9529<br>
9530: &#9530<br>
9531: &#9531<br>
9532: &#9532<br>
9533: &#9533<br>
9534: &#9534<br>
9535: &#9535<br>
9536: &#9536<br>
9537: &#9537<br>
9538: &#9538<br>
9539: &#9539<br>
9540: &#9540<br>
9541: &#9541<br>
9542: &#9542<br>
9543: &#9543<br>
9544: &#9544<br>
9545: &#9545<br>
9546: &#9546<br>
9547: &#9547<br>
9548: &#9548<br>
9549: &#9549<br>
9550: &#9550<br>
9551: &#9551<br>
9552: &#9552<br>
9553: &#9553<br>
9554: &#9554<br>
9555: &#9555<br>
9556: &#9556<br>
9557: &#9557<br>
9558: &#9558<br>
9559: &#9559<br>
9560: &#9560<br>
9561: &#9561<br>
9562: &#9562<br>
9563: &#9563<br>
9564: &#9564<br>
9565: &#9565<br>
9566: &#9566<br>
9567: &#9567<br>
9568: &#9568<br>
9569: &#9569<br>
9570: &#9570<br>
9571: &#9571<br>
9572: &#9572<br>
9573: &#9573<br>
9574: &#9574<br>
9575: &#9575<br>
9576: &#9576<br>
9577: &#9577<br>
9578: &#9578<br>
9579: &#9579<br>
9580: &#9580<br>
9596: &#9596<br>
9597: &#9597<br>
9598: &#9598<br>
9599: &#9599<br>
9747: &#9747<br>
1003: 4&#10034<br>
1007: 0&#10070<br>
1007: 2&#10072<br>
1007: 3&#10073<br>
1007: 4&#10074<br>
9632: &#9632<br>
9633: &#9633<br>
9634: &#9634<br>
9635: &#9635<br>
9636: &#9636<br>
9637: &#9637<br>
9638: &#9638<br>
9639: &#9639<br>
9640: &#9640<br>
9641: &#9641<br>
9642: &#9642<br>
9643: &#9643<br>
9644: &#9644<br>
9645: &#9645<br>
9646: &#9646<br>
9647: &#9647<br>
9648: &#9648<br>
9649: &#9649<br>
9650: &#9650<br>
9651: &#9651<br>
9652: &#9652<br>
9653: &#9653<br>
9654: &#9654<br>
9655: &#9655<br>
9656: &#9656<br>
9657: &#9657<br>
9658: &#9658<br>
9659: &#9659<br>
9660: &#9660<br>
9661: &#9661<br>
9662: &#9662<br>
9663: &#9663<br>
9664: &#9664<br>
9665: &#9665<br>
9666: &#9666<br>
9667: &#9667<br>
9668: &#9668<br>
9669: &#9669<br>
9670: &#9670<br>
9671: &#9671<br>
9672: &#9672<br>
9673: &#9673<br>
9674: &#9674<br>
9675: &#9675<br>
9676: &#9676<br>
9677: &#9677<br>
9678: &#9678<br>
9679: &#9679<br>
9680: &#9680<br>
9681: &#9681<br>
9682: &#9682<br>
9683: &#9683<br>
9684: &#9684<br>
9685: &#9685<br>
9686: &#9686<br>
9687: &#9687<br>
9688: &#9688<br>
9689: &#9689<br>
9690: &#9690<br>
9698: &#9698<br>
9699: &#9699<br>
9700: &#9700<br>
9701: &#9701<br>
9702: &#9702<br>
9703: &#9703<br>
9704: &#9704<br>
9705: &#9705<br>
9706: &#9706<br>
9707: &#9707<br>
9708: &#9708<br>
9709: &#9709<br>
9710: &#9710<br>
9711: &#9711<br>
9712: &#9712<br>
9713: &#9713<br>
9714: &#9714<br>
9715: &#9715<br>
9716: &#9716<br>
9717: &#9717<br>
9718: &#9718<br>
9719: &#9719<br>
9720: &#9720<br>
9721: &#9721<br>
9722: &#9722<br>
9723: &#9723<br>
9724: &#9724<br>
9725: &#9725<br>
9726: &#9726<br>
9727: &#9727<br>
9737: &#9737<br>
9738: &#9738<br>
9739: &#9739<br>
9740: &#9740<br>
9741: &#9741<br>
9776: &#9776<br>
9777: &#9777<br>
9778: &#9778<br>
9779: &#9779<br>
9780: &#9780<br>
9781: &#9781<br>
9782: &#9782<br>
9783: &#9783<br>
9898: &#9898<br>
9899: &#9899<br>
9900: &#9900<br>
9901: &#9901<br>
9902: &#9902<br>
9903: &#9903<br>
9904: &#9904<br>
9905: &#9905<br>
9906: &#9906<br>
9920: &#9920<br>
9921: &#9921<br>
9922: &#9922<br>
9923: &#9923<br>
1000: 9&#10009<br>
1001: 0&#10010<br>
1001: 1&#10011<br>
1001: 2&#10012<br>
1001: 8&#10018<br>
1001: 9&#10019<br>
1002: 0&#10020<br>
1002: 1&#10021<br>
1002: 2&#10022<br>
1002: 3&#10023<br>
1004: 1&#10041<br>
1004: 2&#10042<br>
1004: 3&#10043<br>
1004: 4&#10044<br>
1004: 5&#10045<br>
1006: 3&#10063<br>
1006: 4&#10064<br>
1006: 5&#10065<br>
1006: 6&#10066<br>
9600: &#9600<br>
9601: &#9601<br>
9602: &#9602<br>
9603: &#9603<br>
9604: &#9604<br>
9605: &#9605<br>
9606: &#9606<br>
9607: &#9607<br>
9608: &#9608<br>
9609: &#9609<br>
9610: &#9610<br>
9611: &#9611<br>
9612: &#9612<br>
9613: &#9613<br>
9614: &#9614<br>
9615: &#9615<br>
9616: &#9616<br>
9617: &#9617<br>
9618: &#9618<br>
9619: &#9619<br>
9620: &#9620<br>
9621: &#9621<br>
9622: &#9622<br>
9623: &#9623<br>
9624: &#9624<br>
9625: &#9625<br>
9626: &#9626<br>
9627: &#9627<br>
9628: &#9628<br>
9629: &#9629<br>
9630: &#9630<br>
9631: &#9631<br>
9472: &#9472<br>
9473: &#9473<br>
9474: &#9474<br>
9475: &#9475<br>
9476: &#9476<br>
9477: &#9477<br>
9478: &#9478<br>
9479: &#9479<br>
9480: &#9480<br>
9481: &#9481<br>
9482: &#9482<br>
9483: &#9483<br>
9484: &#9484<br>
9485: &#9485<br>
9486: &#9486<br>
9487: &#9487<br>
9488: &#9488<br>
9489: &#9489<br>
9490: &#9490<br>
9491: &#9491<br>
9492: &#9492<br>
9493: &#9493<br>
9494: &#9494<br>
9495: &#9495<br>
9496: &#9496<br>
9497: &#9497<br>
9498: &#9498<br>
9499: &#9499<br>
9500: &#9500<br>
9501: &#9501<br>
9502: &#9502<br>
9503: &#9503<br>
9504: &#9504<br>
9505: &#9505<br>
9506: &#9506<br>
9507: &#9507<br>
9508: &#9508<br>
9509: &#9509<br>
9510: &#9510<br>
9511: &#9511<br>
9512: &#9512<br>
9513: &#9513<br>
9514: &#9514<br>
9515: &#9515<br>
9516: &#9516<br>
9517: &#9517<br>
9518: &#9518<br>
9519: &#9519<br>
9520: &#9520<br>
9521: &#9521<br>
9522: &#9522<br>
9523: &#9523<br>
9524: &#9524<br>
9525: &#9525<br>
9526: &#9526<br>
9527: &#9527<br>
9528: &#9528<br>
9529: &#9529<br>
9530: &#9530<br>
9531: &#9531<br>
9532: &#9532<br>
9533: &#9533<br>
9534: &#9534<br>
9535: &#9535<br>
9536: &#9536<br>
9537: &#9537<br>
9538: &#9538<br>
9539: &#9539<br>
9540: &#9540<br>
9541: &#9541<br>
9542: &#9542<br>
9543: &#9543<br>
9544: &#9544<br>
9545: &#9545<br>
9546: &#9546<br>
9547: &#9547<br>
9548: &#9548<br>
9549: &#9549<br>
9550: &#9550<br>
9551: &#9551<br>
9552: &#9552<br>
9553: &#9553<br>
9554: &#9554<br>
9555: &#9555<br>
9556: &#9556<br>
9557: &#9557<br>
9558: &#9558<br>
9559: &#9559<br>
9560: &#9560<br>
9561: &#9561<br>
9562: &#9562<br>
9563: &#9563<br>
9564: &#9564<br>
9565: &#9565<br>
9566: &#9566<br>
9567: &#9567<br>
9568: &#9568<br>
9569: &#9569<br>
9570: &#9570<br>
9571: &#9571<br>
9572: &#9572<br>
9573: &#9573<br>
9574: &#9574<br>
9575: &#9575<br>
9576: &#9576<br>
9577: &#9577<br>
9578: &#9578<br>
9579: &#9579<br>
9580: &#9580<br>
9596: &#9596<br>
9597: &#9597<br>
9598: &#9598<br>
9599: &#9599<br>
