@import "main.css";

/* Showing comments */

input::placeholder {
  color: var(--gray);
  opacity: 1;
}

.comment0, .comment1 {
  padding: 0.1px;
}

.comment0 p,
.comment1 p {
  margin: 1em;
}

.comment0 {
  background-color: var(--light-green);
}

.comment-data {
  font-family: "Inconsolata", monospace;
  text-align: right;
  font-size: 0.9em;
}

hr {
  margin: 50px auto;
  border-color: transparent;
}


/* Form */

/* form > div { */
/*   width: 100% */
/* } */

form > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  align-content: space-between;
  align-items: end;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 0.2em;
  border-bottom: 1px solid black;
  width: 100%;
}

.form-email {
  text-align: right;
}

.form-comment {
  width: 100%;
}

#id_name {
  padding-left: 1em;
  background-color: transparent;
}

#id_email {
  text-align: right;
  padding-right: 1em;
  background-color: transparent;
}

#id_name:focus-visible,
#id_email:focus-visible {
  background-color: var(--light-green);
  outline: none;
}

.submit-container {
  text-align: right;
  margin: 10px 0;
}

button[type="submit"]:focus-visible {
  outline: 1px solid var(--green);
}

.error {
  margin-bottom: 0;
}
