:root {
 --green: rgb(78, 104, 26);
  --gray: #00080090;
  --light-green: #f8f8e7;
  --light-gray: #f3e7e7;
  --heading-margin-factor: 2.5;

  font-family: 'Crimson Text', serif;
  scroll-behavior: smooth;
  box-sizing: border-box;

  --line-height: 1.15; /* baseline default */
  line-height: var(--line-height);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p, li, blockquote, textarea, label {
  font-size: 1.1rem;
}

.arithmatex {
  overflow-x: auto;
}

hr {
  width: 60%;
  color: #aaa;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 2rem auto;
}

h1 {
  margin: calc(var(--heading-margin-factor) * 2 * .67rem)
          0
          calc(var(--heading-margin-factor) * .67rem);
}
h2 {
  margin: calc(var(--heading-margin-factor) * 2 * .75rem)
          0
          calc(var(--heading-margin-factor) * .75rem);
}
h3 {
  margin: calc(var(--heading-margin-factor) * 2 * .83rem)
          0
          calc(var(--heading-margin-factor) * .83rem);
}
h4 {
  margin: calc(var(--heading-margin-factor) * 2 * 1.12rem)
          0
          calc(var(--heading-margin-factor) * 1.12rem);
}
h5 {
  margin: calc(var(--heading-margin-factor) * 2 * 1.5rem)
          0
          calc(var(--heading-margin-factor) * 1.5rem);
}
h6 {
  margin: calc(var(--heading-margin-factor) * 2 * 1.67rem)
          0
          calc(var(--heading-margin-factor) * 1.67rem);
}

code {
  font-family: 'Inconsolata', monospace, monospace;
  background: var(--light-gray);
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
  overflow-wrap: break-word;
}

pre code {
  font-family: 'Inconsolata', monospace, monospace;
  display: block;
  background: transparent;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  min-width: 100px;
  min-height: calc(2rem + var(--copy-dim));
  width: fit-content;
  padding: 15px 30px;
  border-radius: .2rem;
  overflow-wrap: initial;
}

pre {
  --copy-dim: 1.2rem;
  overflow-x: auto;
  background-color: var(--light-green);
}

.codehilite,
.clipboard-copy {
  position: relative;
}

.codehilite pre::before,
.clipboard-copy pre::before {
  content: '';
  width: var(--copy-dim);
  height: var(--copy-dim);
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  border-radius: 0.2rem;
  background: var(--light-green);
  /* background: gray; */
  box-shadow:  0 0 0.5rem 0.5rem  var(--light-green);
  transition: opacity 500ms;
}

.codehilite pre::after,
.clipboard-copy pre::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2rem' height='1.2rem' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='nonzero' d='M5.503 4.627 5.5 6.75v10.504a3.25 3.25 0 0 0 3.25 3.25h8.616a2.25 2.25 0 0 1-2.122 1.5H8.75A4.75 4.75 0 0 1 4 17.254V6.75c0-.98.627-1.815 1.503-2.123ZM17.75 2A2.25 2.25 0 0 1 20 4.25v13a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-13A2.25 2.25 0 0 1 8.75 2h9Zm0 1.5h-9a.75.75 0 0 0-.75.75v13c0 .414.336.75.75.75h9a.75.75 0 0 0 .75-.75v-13a.75.75 0 0 0-.75-.75Z'/%3E%3C/svg%3E%0A");
  width: var(--copy-dim);
  height: var(--copy-dim);
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: opacity 500ms;
  cursor: pointer;
  background: transparent;
}

.codehilite pre:hover::before,
.clipboard-copy pre:hover::before {
  opacity: 1;
}

.codehilite pre:hover::after,
.clipboard-copy pre:hover::after {
  opacity: 0.65;
}

a {
  color: initial;
}

:focus-visible {
  outline: none;
  background-color: var(--light-green);
}

/* ul { */
/*   list-style: none; */
/* } */

::marker {
  color: var(--gray);
}

/* Top level links aren't underlined */
body > p strong > .icon-anchor > .label {
  text-decoration: none;
}

body > p strong > .icon-anchor:hover > .label {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  width: fit-content;
}

.icon-anchor {
  text-decoration: none;
}

.icon-anchor > .label {
  text-decoration: underline;
  padding-right: 2rem;
}

.icon-anchor > .label + .utf {
  margin-left: -2rem;
}

.utf {
  color: var(--green);
  font-weight: bold;
  padding: 0 0.25rem;
  font-size: 1.2rem;
  display: inline-block;
  transition: transform 500ms;
  text-decoration: none;
}

.icon-anchor:active > .utf,
:is(h1, h2, h3, h4, h5):active > .headerlink.utf,
.label:hover + .utf,
a:hover > .utf,
button:hover > .utf,
.utf:hover {
  transform: rotate(180deg) scale(1.2);
  transform-origin: center;
}

.headerlink.utf {
  padding: 0 0.5rem;
  color: #0004;
  opacity: 0;
  transition: transform 500ms, opacity 500ms;
}

.headerlink.utf:hover,
:target > .headerlink.utf,
.comment-data:hover > .headerlink.utf,
:is(h1, h2, h3, h4, h5):hover > .headerlink.utf {
  opacity: 1;
}

.small-right {
  text-align: right;
  margin-top: 50px;
}

.small-right .utf,
.small-right a {
  text-decoration: none;
  font-size: 0.9rem;
}

.small-right ul {
  list-style: none;
}

.stayblack .utf,
.stayblack {
  color: black;
}

.subtitle {
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: var(--gray);
}


/* Spacing */

html {
  padding: 0 10px;
}

body {
  max-width: 650px;
  /* having a nonzero vertical padding forces the margins of body's
   * children to be inside of it (even though 0.1px is rendered as 0px) */
  padding: 0.1px 30px;
  margin: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
  overflow-x: hidden;
}

p > figure,
p > svg,
p > img {
  max-width: 100%;
}

p > figure:first-child:last-child,
p > img:first-child:last-child,
p > svg:first-child:last-child {
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
}

.tall {
  max-height: 200px;
  overflow-y: auto;
}

/* Forms */

form {
  border: 1px solid black;
  padding: 1rem;
}

form > div {
  margin-bottom: 1.5rem;
}


form > div > label {
  display: block;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

input[type="text"],
input[type="number"],
button,
.file-label,
select,
textarea {
  --_form-item-padding-v: 0.5rem;
  --_form-item-padding-h: 1rem;
  display: inline-block;
  border: none;
  background-color: var(--light-green);
  padding: var(--_form-item-padding-v) var(--_form-item-padding-h);
  font-size: 1.1rem;
  min-width: 0;
}

.selected-file {
  font-family: 'Inconsolata', monospace, monospace;
  font-size: 0.9rem;
  color: var(--gray);
  cursor: pointer;
  padding: 0 0.5rem;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}

button[type="submit"] {
  border: none;
  background-color: var(--light-green);
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: block;
  margin: auto;
}

input[type="file"] {
  opacity: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vw;
}

.file-label {
  position: relative;
  cursor: pointer;
  font-weight: normal;
}

input[type="radio"] {
  width: var(--_size);
  height: var(--_size);
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  margin-right: 0.25rem;
  font: inherit;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 50%;
  background-color: var(--light-green);
  transform: translateY(0.20rem);
}

input[type="radio"]:checked::after {
  box-sizing: content-box;
  content: '';
  width: calc(0.7 * var(--_size));
  height: calc(0.7 * var(--_size));
  top: calc(0.1 * var(--_size));
  left: calc(0.3 * var(--_size));
  position: absolute;
  background-color: black;
  border-radius: 50%;
}

div:nth-child(even) > label > input[type="radio"]:checked::after {
  left: calc(-0.1 * var(--size));
}

/* Radio label */
form label + div  > div > div > label {
  --_size: 1rem;
  display: inline-block;
  padding: 0.25rem 1rem;
}

.help_text {
  margin-top: 0.5rem;
  padding: 0 1rem;
  color: var(--gray);
  font-size: 0.9rem;
}

.error {
  display: inline-block;
  padding: 0.2rem 1rem;
  background-color: var(--light-gray);
  border-radius: 0.2rem;
}

select:focus-visible,
input[type="text"]:focus-visible,
input[type="number"]:focus-visible,
.file-label:focus-within,
button:focus-visible {
  outline: 1px solid var(--green);
}

input[type="radio"]:focus-visible {
  outline: 3px solid var(--green);
}

/* Utility classes */

.mono {
  font-family: 'Inconsolata', monospace, monospace;
}

input.mono {
  font-size: 1rem;
}

.selected {
  font-weight: bold;
  outline: 1px solid var(--green);
}

.grid-2-cols-left {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 0.5rem 0.5rem;
}

.lp-1 {
  padding-left: 1rem;
}

.ji-r {
  justify-items: right;
}

.ai-c {
  align-items: center;
}

.textinput-size {
  width: min-content;
  height: calc(var(--line-height) * 1em + 2 * var(--_form-item-padding-v));
  padding-top: var(--_form-item-padding-v);
  padding-bottom: var(--_form-item-padding-v);
}

/* Mobile */

@media (hover: none) {
  /* More space to clickables */
  :root {
    --min-clickable-size: 44px;
  }

  @supports not (selector(ul:has(a[href]))) {
    .small-right li,
    .clickable li {
      padding: 1rem 0;
    }
  }

  @supports (selector(ul:has(a[href]))) {
    li:not(body > ul > li) {
      padding: 0;
    }

    ul:has(a[href], label[for], select, button)
    li:not(body > ul > li) {
      padding: 1rem 0;
    }
  }
  .codehilite pre:before,
  .clipboard-copy pre::before {
    opacity: 1;
  }

  .codehilite pre:after,
  .clipboard-copy pre::after {
    opacity: 0.65;
  }

  .codehilite pre code,
  .clipboard-copy pre code {
    padding-right: calc(30px + 2rem);
  }

  .headerlink.utf {
    opacity: 1;
    font-size: 0.8rem;
  }

  /* Radio label */
  form label + div  > div > div > label {
    padding-top: calc((var(--min-clickable-size) - var(--_size))/2);
    padding-bottom: calc((var(--min-clickable-size) - var(--_size))/2);
  }
}

@media(max-width: 500px) {
  body {
    padding: 0.1px 15px;
  }
}

/* Multimidia */

video {
  --_playing-width: 85vw;
  width: 100%;
  max-height: 100vh;
  transition: width 500ms, transform 500ms;
}

@media(min-width: 800px) {
  video[data-playing="true"] {
    width: max(var(--_playing-width), 100%);
    transform: TranslateX(calc(
      -1 * var(--_playing-width)/2
      + var(--_old-width)/2
    ));
  }
}
