{% load static %}
{% load i18n %}

{% load rutf %}
{% load page_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<!DOCTYPE html>
<html lang={{ LANGUAGE_CODE }}>
  <head>
    <title>{{ o.title | default:'João Seckler'}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inconsolata:wght@400;700&display=block" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content={{ o.keywords | default:"joão,seckler"}}>

    {% trans 'Sharing some things' as tr %}
    <meta name="description" content="{{ o.shortdescription |default:tr}}">

    {% utf_value as u %}
    {% with u|add:'.ico' as f %}
    {% with u|add:'ogp.jpg' as fogp %}
    <link rel="icon" href="{% static f %}" type="image/png">
    <meta content= "{% absolute_static request fogp %}" property="og:image">
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">
    <meta content="image/jpeg" property="og:image:type">
    {% endwith %}
    {% endwith %}

    <meta content="{{ o.shortdescription |default:tr}}" property= "og:description">
    <meta content="{{ o.title | default:'João Seckler'}}" property="og:title">
    <meta content="article" property="og:type">

    {% if request.path %}
      <meta content="{{ request.build_absolute_uri }}" property="og:url"/>
    {% endif %}
    <meta content="João Seckler" property="og:site_name">
    <meta content="João Seckler" property= "og:image:alt">
    <meta content="index,follow" name="robots">

    {% if LANGUAGE_CODE == 'pt' %}
      <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    {% endif %}

    {% for lang_code, lang_name in LANGUAGES %}
      {% with lang_code|add:"_version" as att %} {# att = lang[0] + '_version'#}
      {% with o|getattrfilter:att as l %} {# l = getattr(o, att) #}
        {% if l %}
          {% if lang_code == 'pt' %}
            <link rel="canonical" href="{% absolute_url request 'pages:page' l %}" />
          {% endif %}
          {% if lang_code != LANGUAGE_CODE  %}
            <link
                href="{% absolute_url request 'pages:page' l %}"
                hreflang="{{ lang_code }}"
                rel="alternate"
            />
          {% endif %}
        {% endif %}
      {% endwith %}{% endwith %}
    {% endfor %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'pages/codehilite.css' %}">
    {% if style %}
    <link rel="stylesheet" href="{% static style %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'pages/main.css' %}">
    {% endif %}
    {% include 'pages/resources.html' with resources=resources.css %}
    {% block extra_css %}{% endblock %}
    {% include 'pages/math.html' %}
    {% include 'pages/resources.html' with resources=resources.js_head %}
    {% block extra_js_head %}{% endblock %}
  </head>

  <body>
    {% block text %}{% endblock %}
    {% block comments %}{% endblock %}
    {% block meta %}{% endblock %}


    {% if not o.nofooter or footerlink == o.name %}
    {% utf as u %}
    <footer>
      <br>

      {% if footerlink %}
        <a class="utf" href={% url 'pages:page' footerlink %}>{{ u }}</a><br>
      {% elif o.language == 'pt' %}
        <a class="utf" href={% url 'pages:page' 'index' %}>{{ u }}</a><br>
      {% else %}
        <a class="utf" href={% url 'pages:page' 'index_en' %}>{{ u }}</a><br>
      {% endif %}

    </footer>
    {% endif %}
    <br><br>

    {% block 'js' %}
    {% include 'pages/resources.html' with resources=resources.js_body %}
    <script src="{% static 'pages/script.js' %}"></script>
    {% endblock %}
    {% block extra_js_body %}{% endblock %}
  </body>
</html>
