{% extends 'pages/base.html' %}
{% load  comments %}
{% load  rutf %}
{% load  i18n %}
{% load  page_tags %}

{% block comments %}

<h2>{{ o.title }}</h2>
<p class="subtitle">{% trans 'comments' %}</p>

{% get_comment_list for o.comment as comment_list %}
{% for comment in comment_list %}
  {% with forloop.counter0|to_classname as classname %}
    <div class="{{ classname }}">
    <p class="comment">{{ comment.comment }}</p>

    {% with comment.comment|truncatechars:100|slugify as id %}
    <p class="comment-data" id="{{ id }}">
    <a class="headerlink utf" href="#{{ id }}" title="permanent link">{% utf %}</a>
    {% endwith %}
    {% if comment.user_name %}
    {{ comment.user_name }} <b>|</b>
    {% endif %}
    {{comment.submit_date | date:"j.n.y <\b>|</\b> G:i" | safe }}
    </p>
    </div>
  {% endwith %}

{% endfor %}

{% if comment_list %}
<hr>
{% endif %}

<form action="{% if 'post' in request.path %}{{ request.path }}{% else %}{{ request.path }}/post{% endif %}" method="POST">
  {% csrf_token %}
  {% trans 'comments' as t %}
  {% with o.name|add:"/"|add:t as c %}
  <input type="hidden" name="next" value="{% url 'pages:page' c %}"/>
  {% endwith %}

  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      {% if field.name != "url" %}
        {% if field.name == "name" or field.name == "comment" %}
        <div>
        {% endif %}
      <div class=form-{{ field.name }}
        {% if field.name == "honeypot" %} style="display:none;"{% endif %}>
        {% if field.errors %}
          <div class="error" id="error_{{ field.name }}">
            {{ field.errors.as_text|cut:"* "|cut:"."|lower }}
          </div>
        {% endif %}
        {{ field }}
      </div>
        {% if field.name == "email" or field.name == "comment" %}
        </div>
        {% endif %}
      {% endif %}

    {% endif %}
  {% endfor %}
  <div class="submit-container">
    <button class="submit" type="submit" name="post">
      <span class="utf">{% utf %}</span>
      {% comment %}Translators: comment verb{% endcomment %}
      {% trans 'comment' %}
    </button>
  </div>
</form>

{% endblock %}
