{% load i18n %}
<label class="file-label"  for="id_{{ widget.name }}">
  {% trans 'select file' %}
  <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}><span class="selected-file" aria-hidden="true">{% if filename %}({{ filename }}){% endif %}</span>
</label>
