{% load i18n rutf %}

<form action="{{ action }}"
      method="post"
      {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  {% block 'formfields' %}
  {% for field in form %}
    <div>
      {{ field.label_tag|cut:":"|lower }}
      {% block 'errors' %}
      {% if field.errors %}
      <div>
        <span class="error" id="error_{{ field.name }}">
          {{ field.errors.as_text|cut:"* "|cut:"."|lower }}
        </span>
      </div>
      {% endif %}
      {% endblock %}
      <div{% if field.attrs %} {% include 'django/forms/attrs.html' with attrs=field.attrs %}{% endif %}>
        {{ field }}
      </div>
      {% if field.help_text %}
        <p class="help_text">{{ field.help_text }}</p>
      {% endif %}
    </div>
  {% endfor %}
  {% endblock %}

  {% block 'submit' %}
  <button type="submit">
    <span class="utf">{% utf %}</span>
    {% trans 'go' %}
    <span class="utf">{% utf %}</span>
  </button>
  {% endblock %}

  {% block 'result' %}
  {% if result %}<hr>{{ result }}{% endif %}
  {% endblock %}
</form>

