{% load static %}
{% if math %}
<script type="text/x-mathjax-config" src="{% static 'palco/mathjax-config.js' %}"></script>
<script defer src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endif %}

