{% load i18n %}
{% load  i18n %}
{% load  rutf %}
{% load page_tags %}

<div class=small-right>
  <ul>

{% if o.hascomments and not iscomment %}
  {% comment %}Name of the page{% endcomment %}
  {% trans 'comments' as t %}
  {% with o.name|add:"/"|add:t as c %}
  <li><a class="stayblack" href={% url 'pages:page' c %}>
    <span class="utf">{% utf %}</span>
    &nbsp&nbsp
    {{ t }}
  </a>
  </li>
  {% endwith %}
{% endif %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% for lang_code, lang_name in LANGUAGES %}
  {% if lang_code != LANGUAGE_CODE %}
    {% with lang_code|add:"_version" as att %} {# att = lang[0] + '_version'#}
    {% with o|getattrfilter:att as l %} {# l = getattr(o, att) #}
      {% if l %}
        {% get_language_info for lang_code as info %}

        <li><a class="stayblack" href={% url 'pages:page' l %}>
          <span class="utf">{% utf %}</span>
          &nbsp&nbsp
          {{ info.name_local|lower }}
        </a></li>

      {% endif %}
    {% endwith %}{% endwith %}
  {% endif %}
{% endfor %}

<li><a class="stayblack" href={% url 'pages:meta' o.name %}>
  <span class="utf">{% utf %}</span>
  &nbsp&nbsp
  {% trans 'meta' %}
</a></li>
  </ul>
</div>

