{% extends 'pages/base.html' %}
{% load i18n %}
{% load comments %}

{% load rutf %}

{% block meta %}

<h2> {{ o.title }} </h2>
<br>

{% get_comment_count for o.comment as cc %}

<table style="width:100%">
  <tr>
    <td>
      <span class='utf'>{% utf %}</span>{% trans 'Publication date' %}:
    </td>
    <td style="text-align:right;">
        {{ o.pub_date|date:"j.n.y <\b>|</\b> G:i" |safe}}
    </td>
  </tr>
  <tr>
    <td>
      <span class='utf'>{% utf %}</span> {% trans 'Last modification' %}:
    </td>
    <td style="text-align:right;">
      {{ o.last_mod_date|date:"j.n.y <\b>|</\b> G:i" |safe }}
    <td>
  </tr>
  <tr>
    <td>
      <span class='utf'>{% utf %}</span> {% trans 'Comments' %}:
    </td>
    <td style="text-align:right;">
      {{ cc }}
    </td>
  </tr>
  <tr>
    <td>
      <span class='utf'>{% utf %}</span> {% trans 'Views' %}:
    </td>
    <td style="text-align:right;">
      {{ o.views }}
    </td>
  </tr>
</table>

<br><br>

{% with o.name|add:'.md' as md %}
{% trans 'here' as here %}
{% el 'https://gitlab.com/joaoseckler/website' here as ulgit %}
{% sl md here as pagelink %}

{% blocktrans%}This website's source code is
available {{ ulgit }}. A markdown version of this page is
available {{ pagelink }}{% endblocktrans %}
{% endwith %}

{% endblock %}
