<video controls>
  {% for format in formats %}
  <source src="{{ url }}.{{ format }}">
  {% endfor %}
  {% if name %}
  <span>{{ name }}</span>
  {% endif %}
  {% for format in formats %}
  <a href="{{ url }}.{{ format }}">Download as {{ format }}</a>
  {% endfor %}
</video>
