{% extends 'pages/form.html' %}
{% load rutf i18n %}

{% block 'result' %}
{% if filename or error %}
<hr>
<p><strong>{% trans 'output' %}</strong></p>
{% endif %}
{% if filename %}
<p>{% trans 'Here is your' %}
<a id="booklet_download" href="{{ url }}" download="{{ filename }}">
  <span class="label">
  {% trans 'booklet' %}
  </span><span class="utf">{% utf %}</span></a>.
<p>

{% if tagform_redirect %}<script>
  document.getElementById("booklet_download").click();
</script>{% endif %}
{% endif %}
{% if error %}
<p>{{ error }}</p>
{% if verbose_error %}
<p><strong>{% trans  'error message' %}</strong></p>
<div class="clipboard-copy"><pre class="tall"><code>{{ verbose_error }}</code></pre></div>
{% if verbose_verbose_error %}
<p><strong>{% trans  'detailed error message' %}</strong></p>
<div class="clipboard-copy"><pre class="tall"><code>{{ verbose_verbose_error }}</code></pre></div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
